# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform lock file
# Keep .terraform.lock.hcl in Git
# Do NOT ignore it

# Jenkins
jenkins_home/
*.log

# Node
node_modules/
dist/

# Java
target/

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key